<form action="/logout" method="post">
    <div class="card text-center">
        <div class="card-header">
            Datos del usuario
        </div>
        <div class="card-body">
            <h5 class="card-title"><%=info%></h5>
            <a href="/api/products" class="btn btn-primary">Go to products</a>
        </div>
    </div>
    <button class="btn btn-warning mt-3 mb-5" value="logout">Logout</button>
</form>